@model UserLoginModel;

<div>
    <h1>Enter email and password</h1>
    <a href="@Url.Action("Create", "Account")">Sign up</a>
    <div asp-validation-summary="All"></div>
    <form action="@Url.Action("Login", "Account")" method="post">
        <div>
            <label for="Email">Email:</label>
            <input name="Email" type="email" />
        </div>
        <div>
            <label for="Password">Password:</label>
            <input name="Password" type="password" />
        </div>
        <div>
            <label for="Submit">Submit:</label>
            <input name="Submit" type="submit" />
        </div>
    </form>
</div>